@media all and (max-width: 426px){
    .popup__input {
        display: block;
        width: 238px;

        margin: 75px auto 0 auto;
        padding: 0 0 13px 0;
        
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-top: none;
        border-right: none;
        border-left: none;
        
        font-family: 'Inter', sans-serif;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        
        color: #000000;
    }
    
    .popup__input:last-of-type {
      margin-top: 30px;
    }
   
    
}
