.popup__container{
    left: 50%;
    transform: translateX(-50%);
    
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


@media all and (max-width: 480px){
    .popup__container{
        
        top: 72.65px;
        
    }
}


@media all and (min-width: 480px){
    .popup__container{
        width: 470px;    
        top: 146.72px;
        
    }
}