.button_type_like {
        
        width: 22px;
        height: 19px;
        filter: brightness(0.1);
        margin-right: 30px;
        overflow: visible;
        background-image: url('../../../images/like-button.svg');
        
    }

.button_type_like:hover {
        background-image: url('../../../images/like-button-hover.svg');
}

.button_type_like:active {
    background-image: url('../../../images/like-button-active.svg');
}

