.button_type_like {
        
        width: 22px;
        height: 19px;
        filter: brightness(0.1);
        margin-right: 30px;
        fill: none;
        stroke: black;
        stroke-width: 2px;
        overflow: visible;
        
    }

.button_type_like:active {
    fill: black;
    stroke: none;
}

.button_type_like:hover {
   stroke-opacity: 0.5;
}