@media all and (max-width: 426px){
    .popup__header {
        max-width: 238px;

        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;

        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */


        color: #000000;
    }
}