@media all and (max-width: 480px){
    .profile__add-button {
        margin-top: 36px;
    }
}

@media all and (min-width: 480px){
    .profile__add-button {
       align-self: center;
       justify-self: end;
    }
}