.profile__avatar-edit-button_active {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url("../../../../images/edit_profile.svg");
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
}
