.popup__close-button {
  align-self: flex-end;
  background-position: center;
  background-image: url("../../../images/close-button.svg");
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media all and (max-width: 426px) {
  .popup__close-button {
    margin-bottom: 13.62px;
    height: 26px;
    width: 26px;
  }
}

@media all and (min-width: 427px) {
  .popup__close-button {
    width: 40px;
    height: 40px;
  }
}
