.popup__close-button {
    background-image: url('../../../images/Close\ Icon.svg');
    align-self: flex-end;
    background-position: center;
    
}


@media all and (max-width: 426px){
    .popup__close-button{
        margin-bottom: 13.62px;
        height: 26px;
        width: 26px;
        background-size: 26px 26px;        
        
    }
    
}

@media all and (min-width: 427px){
    .popup__close-button{
        width:40px;
        height: 40px;
        background-size: 40px 40px;
        
    }
    
}