@media all and (max-width: 426px){
    .place{
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        border-radius: 10px;
        overflow: hidden;
    }
}