@media all and (max-width: 426px){
    .footer {
        max-width: 282px;
        
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;

        color: #545454;

    }
}