.place__button-like {
  width: 22px;
  height: 19px;
  margin-right: 30px;
  overflow: visible;
  background-image: url("../../../images/like-button.svg");
}

.place__button-like:hover {
  filter: opacity(0.5);
}

.place__button-like:active {
  filter: opacity(1) !important;
  background-image: url("../../../images/like-button-active.svg");
}
